* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.corpo-pagina {
    margin: 0 auto;
}

.parte-superior {
    font-family: 'Open Sans', sans-serif;
    line-height: 16px;
    color: #000;
    display: block;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 749px;
    height: 90px;
    margin-left: auto;
    margin-right: auto;
}

.parte-superior h1 {
    font-size: 12pt;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 10px;
}

.parte-superior p {
    font-size: 11pt;
    margin-top: 10px;
    font-style: normal;
    font-weight: normal;
    text-align: justify;
}

.organograma {
    width: 750px;
    height: 590px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
}

.secao-reitoria-propex {
    width: 750px;
    height: 227px;
}

.caixa-reitoria {
    width: 127px;
    height: 51px;
    background: linear-gradient(270.11deg, rgba(0, 0, 0, 0.37) 4.1%, rgba(255, 255, 255, 0) 97.46%), #CD191E;
    border-radius: 10px;
    margin: 0 auto;
    position: relative;
}

p#caixa-reitoria {
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 15pt;
    line-height: 20px;
    text-transform: uppercase;
    color: #FFFFFF;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}

.tooltip {
    position: relative;
}

.tooltip-texto {
    visibility: hidden;
    color: #000;
    text-align: center;
    z-index: 1;
    padding: 4px;
    opacity: 0;
    transition: opacity 0.4s;
    position: absolute;
    top: 40px;
    left: 70px;
    width: 87px;
    height: 30px;
    background: #FFFFFF;
    border: 2px solid #CD191E;
    box-sizing: border-box;
    border-radius: 5px;
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 10pt;
}

.tooltip:hover .tooltip-texto{
    visibility: visible;
    opacity: 1;
}

#ligatura-1 {
    width: 2.81px;
    height: 37.64px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.ret-vermelho {
    margin-top: 2px;
    width: 4px;
    height: 8px;    
    background: #CD191E;
}

.caixa-propex {
    width: 109px;
    height: 52px;
    border: 3px solid #CD191E;
    box-sizing: border-box;
    border-radius: 12px;
    margin: 8px auto;
    position: relative;
    margin-bottom: 0;
}

p#caixa-propex {
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 10.5pt;
    line-height: 20px;
    text-transform: uppercase;
    color: #222;
    position: absolute;
    top: 30%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}

p#propex-subparagrafo {
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 7pt;
    line-height: 9px;
    color: #222;
    text-align: center;
    position: absolute;
    top: 70%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}

#tooltip-propex {
    width: 100px;
    height: 30px;
}

span#tooltip-propex {
    font-size: 9pt;
}

#ligatura-2 {
    width: 2.81px;
    height: 90px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.secao-cep-copex {
    position: relative;
    width: 750px;
    height: 100px;
}

.caixa-cep {
    width: 95px;
    height: 45px;
    background: linear-gradient(270deg, rgba(219, 243, 69, 0.56) 19.58%, rgba(255, 255, 255, 0) 100%), #2F9E41;
    border-radius: 13px;
    margin: 0 auto;
    position: absolute;
    left: 35.3%;
    top: -25%;
}

p#caixa-cep {
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 9pt;
    line-height: 20px;
    text-transform: uppercase;
    color: #fff;
    position: absolute;
    top: 25%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}

p#cep-subparagrafo {
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 8pt;
    line-height: 10px;
    color: #fff;
    text-align: center;
    position: absolute;
    top: 66%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}

#tooltip-cep {
    border: 2px solid #2F9E41;
    position: absolute;
    top: 44px;
    left: -30px;
    padding: 0;
    width: 80px;
    height: 25px;
}

#ligatura-3 {
    width: 38px;
    height: 8px;
    display: inline-flex;
    margin-left: 3px;
    position: absolute;
    left: 50.3%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

.ret-verde-horizontal {
    margin-top: 2px;
    width: 8px;
    height: 4px;
    margin-right: 2px;    
    background: #195229;
}

.caixa-copex {
    width: 95px;
    height: 45px;
    background: linear-gradient(270deg, rgba(219, 243, 69, 0.56) 19.58%, rgba(255, 255, 255, 0) 100%), #2F9E41;
    border-radius: 13px;
    margin: 0 auto;
    position: absolute;
    left: 52.2%;
    top: -25%;
}

p#caixa-copex {
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 9.5pt;
    line-height: 20px;
    text-transform: uppercase;
    color: #fff;
    position: absolute;
    top: 25%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}

p#copex-subparagrafo {
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 7pt;
    line-height: 10px;
    color: #fff;
    text-align: center;
    position: absolute;
    top: 66%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}

#ligatura-4 {
    width: 4px;
    height: 94px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 8px;
    padding-top: 2px;
}

.ret-verde {
    margin-top: 2px;
    width: 4px;
    height: 8px;   
    background: #195229;
}

.secao-dpp-direx {
    position: relative;
    width: 750px;
    height: 40px;
    margin-top: -18px;
}

.caixa-dpp {
    width: 110px;
    height: 57px;
    border: 2px solid #2F9E41;
    border-radius: 12px;
    margin: 0 auto;
    position: absolute;
    left: 14.6%;
    margin-top: -3%;
}

p#caixa-dpp {
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 10.5pt;
    line-height: 20px;
    text-transform: uppercase;
    color: #222;
    position: absolute;
    top: 30%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}

p#dpp-subparagrafo {
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 7.5pt;
    line-height: 10px;
    color: #000;
    text-align: center;
    position: absolute;
    top: 66%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}

#tooltip-dpp {
    border: 2px solid #2F9E41;
    position: absolute;
    top: 48px;
    left: -54px;
}

#ligatura-5 {
    width: 420px;
    height: 4px;
    display: inline-flex;
    margin-left: 3px;
    margin-top: 2px;
    position: absolute;
    left: 57%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

.caixa-direx {
    width: 110px;
    height: 57px;
    border: 2px solid #2F9E41;
    border-radius: 12px;
    margin: 0 auto;
    position: absolute;
    left: 72%;
    margin-top: -3%;
}

p#caixa-direx {
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 10.5pt;
    line-height: 20px;
    text-transform: uppercase;
    color: #222;
    position: absolute;
    top: 22%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}

p#direx-subparagrafo {
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 7.5pt;
    line-height: 10px;
    color: #000;
    text-align: center;
    position: absolute;
    top: 66%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}

#tooltip-direx {
    border: 2px solid #2F9E41;
    position: absolute;
    top: 52px;
    left: 70px;
}

.secao-dpa-dri {
    position: relative;
    width: 750px;
    height: 250px;
    display: inline;
}

.secao-dpa {
    float: left;
    width: 250px;
    height: 120px;
    position: relative;
}

#ligatura-6{
    width: 5px;
    height: 135px;
    position: absolute;
    left: 64%;
    top: -5%;
}

.ret-verde-claro {
    margin-top: 2px;
    width: 4px;
    height: 10px;    
    background: #7CBC6C;
}

#ligatura-7 {
    width: 70px;
    height: 10px;
    display: inline-flex;
    position: absolute;
    top: 30%;
    left: 66%;
}

.ret-verde-claro-horizontal {
    width: 8px;
    height: 4px;
    margin-right: 2px;    
    background: #7CBC6C;
}

.caixa-dpa {
    width: 110px;
    height: 52px;
    border: 2px solid #2F9E41;
    border-radius: 12px;
    margin: 0 auto;
    position: absolute;
    left: 94%;
    top: 10%;
}

p#caixa-dpa {
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 10.5pt;
    line-height: 20px;
    text-transform: uppercase;
    color: #222;
    position: absolute;
    top: 22%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}

p#dpa-subparagrafo {
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 7.5pt;
    line-height: 10px;
    color: #000;
    text-align: center;
    position: absolute;
    top: 66%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}

#tooltip-dpa {
    border: 2px solid #2F9E41;
    position: absolute;
    top: 46px;
    left: 50px;
    font-size: 9pt;
}

.secao-dri {
    float: right;
    width: 250px;
    height: 120px;
    position: relative;
}

#ligatura-8{
    width: 5px;
    height: 135px;
    position: absolute;
    left: 38%;
    top: -5%;
}

#ligatura-9 {
    width: 70px;
    height: 10px;
    display: inline-flex;
    position: absolute;
    top: 30%;
    left: 10.5%;
}

.caixa-dri {
    width: 110px;
    height: 52px;
    border: 2px solid #2F9E41;
    border-radius: 12px;
    margin: 0 auto;
    position: absolute;
    left: -34%;
    top: 10%;
}

p#caixa-dri {
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 10.5pt;
    line-height: 20px;
    text-transform: uppercase;
    color: #222;
    position: absolute;
    top: 22%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}

p#dri-subparagrafo {
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 7.3pt;
    line-height: 10px;
    color: #000;
    text-align: center;
    position: absolute;
    top: 66%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}

#tooltip-dri {
    border: 2px solid #2F9E41;
    position: absolute;
    top: 46px;
    left: -30px;
    font-size: 8.5pt;
}

.secao-coap-coex{
    width: 750px;
    height: 250px;
    position: relative;
    display: inline-flex;
}

.secao-coap-public {
    width: 250px;
    height: 250px;
    position: relative;
    display: inline-flex;
}

#ligatura-10 {
    width: 140px;
    height: 10px;
    display: inline-flex;
    position: absolute;
    top: -8%;
    left: 20%;
}

#ligatura-11{
    width: 5px;
    height: 50px;
    position: absolute;
    left: 20%;
    top: -7.3%;
}

.caixa-coap {
    width: 110px;
    height: 52px;
    border: 2px solid #2F9E41;
    border-radius: 12px;
    margin: 0 auto;
    position: absolute;
    left: -1%;
    top: 8%;
}

p#caixa-coap {
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 10.5pt;
    line-height: 20px;
    text-transform: uppercase;
    color: #222;
    position: absolute;
    top: 22%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}

p#coap-subparagrafo {
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 8pt;
    line-height: 10px;
    color: #000;
    text-align: center;
    position: absolute;
    top: 66%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}

#tooltip-coap {
    border: 2px solid #2F9E41;
    position: absolute;
    top: 45px;
    left: -30px;
    font-size: 9pt;
}

.caixa-public {
    width: 110px;
    height: 52px;
    border: 2px solid #2F9E41;
    border-radius: 12px;
    margin: 0 auto;
    position: absolute;
    left: 45%;
    top: 8%;
}

p#caixa-public {
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 10.5pt;
    line-height: 20px;
    text-transform: uppercase;
    color: #222;
    position: absolute;
    top: 22%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}

p#public-subparagrafo {
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 8pt;
    line-height: 10px;
    color: #000;
    text-align: center;
    position: absolute;
    top: 66%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}

#tooltip-public {
    border: 2px solid #2F9E41;
    position: absolute;
    top: 45px;
    left: 50px;
    font-size: 9pt;
}

.secao-cac-coex {
    width: 250px;
    height: 250px;
    margin-left: 200px;
    position: relative;
    display: inline-flex;
}

#ligatura-12 {
    width: 140px;
    height: 10px;
    display: inline-flex;
    position: absolute;
    top: -8%;
    left: 58.5%;
}

#ligatura-13{
    width: 5px;
    position: absolute;
    left: 100%;
    top: -7.3%;
}

.caixa-cac {
    width: 110px;
    height: 52px;
    border: 2px solid #2F9E41;
    border-radius: 12px;
    margin: 0 auto;
    position: absolute;
    left: 35%;
    top: 8%;
}

p#caixa-cac {
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 10.5pt;
    line-height: 20px;
    text-transform: uppercase;
    color: #222;
    position: absolute;
    top: 22%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}

p#cac-subparagrafo {
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 8pt;
    line-height: 10px;
    color: #000;
    text-align: center;
    position: absolute;
    top: 66%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}

#tooltip-cac {
    border: 2px solid #2F9E41;
    position: absolute;
    top: 45px;
    left: -25px;
    font-size: 9pt;
}

.caixa-coex {
    width: 110px;
    height: 52px;
    border: 2px solid #2F9E41;
    border-radius: 12px;
    margin: 0 auto;
    position: absolute;
    left: 81%;
    top: 8%;
}

p#caixa-coex {
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 10.5pt;
    line-height: 20px;
    text-transform: uppercase;
    color: #222;
    position: absolute;
    top: 22%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}

p#coex-subparagrafo {
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 8pt;
    line-height: 10px;
    color: #000;
    text-align: center;
    position: absolute;
    top: 66%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}

#tooltip-coex {
    border: 2px solid #2F9E41;
    position: absolute;
    top: 45px;
    left: 50px;
    font-size: 9pt;
}

.parte-meio {
    font-family: 'Open Sans', sans-serif;
    line-height: 16px;
    display: block;
    margin-top: 20px;
    margin-bottom: 30px;
    width: 749px;
    height: 15px;
    margin-left: auto;
    margin-right: auto;
}

h3 {
    font-style: normal;
    font-weight: 600;
    font-size: 11pt;
    align-items: center;
    color: #222;
}

.parte-inferior {
    display: block;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 749px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}

ol.lista-numerada {
    list-style: none;
    counter-reset: li;
}

li {
    counter-increment: li;
    position: relative;
    margin-left: 10px;
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 11.5pt;
    line-height: 23px;
    color: #222;
    margin-top: 20px;
    padding-bottom: 10px;
    transition: 0.4s;
}

.lista-numerada li:before {
    content: counter(li);
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 45pt;
    line-height: 75px;
    color: #4F4F4F;
    opacity: 0.2;
    position: absolute;
    top: -13px;
    left: -10px;
}

li.item-lista-uma-linha {
    padding-top: 10px;
}

.parte-inferior p {
    font-family: 'Open Sans', sans-serif;
    line-height: 16px;
    display: block;
    margin-top: 20px;
    margin-bottom: 30px;
    font-style: normal;
    font-weight: 400;
    font-size: 11pt;
    align-items: center;
    color: #222;
}

.lista-numerada li:hover {
    width: 749px;
    height: 52px;
    background: #EAEBEE;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    padding-left: 22px;
}

li.dois-algarismos:hover {
    padding-left: 56px;
}
